body {
  background: linear-gradient(to left, #fbffee, #fff8e1);
  background-size: 400% 400%;
  animation: moveGradient 6s ease infinite;
    margin: 0;
    
    overflow-x: hidden !important;
    box-sizing: border-box;
font-family: Helvetica, sans-serif !important;
  }

    .header {
      position: fixed;
      top: 0;
      margin-top: 4px;
      left: 50%;
      display: flex;
      transform: translateX(-50%);
border-radius: 12px;

backdrop-filter: blur(30px);
      padding: 10px 10px;
      z-index: 1000;
      width: auto;
      /* width: auto; */
  }
  


  .header a {
      color: #888888;
      text-decoration: none;
      padding: 10px 20px;
      margin: 0 10px;
      font-size: 16px;
      transition: background-color 0.3s;
  }
  
  .header a:hover, .header a.active {
      background-color: #555;
      border-radius: 4px;
  }
  
  


.nav-link {
  white-space: nowrap !important ;
}


  
  html {
      scroll-behavior: smooth;
  }

  @media (max-width: 768px) {
    .header {
      justify-content: center;
      padding: 15px;
    }
    .header a {
      font-size: 14px;
      padding: 8px 15px;
      margin: 5px 0;
    }
  }
  
  /* Responsive styles for screens smaller than 536px */
  @media (max-width: 536px) {
    .header {
      padding: 10px 30px !important; /* Reduce padding */
    }
    .header a {
      font-size: 9px;
      padding: 6px 12px;
    }
  }
  
  /* Responsive styles for screens smaller than 320px */
  @media (max-width: 320px) {
    .header {
      padding: 8px 15px;
    }
    .header a {
      font-size: 8px;
      padding: 5px 10px;
    }
  }














#animatedHeading span {
  display: inline-block;
  opacity: 0;
  transform: translateX(200px);
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.nameContainer:hover #animatedHeading span {
  animation: slideLeft 1.5s forwards;
}

.animateOnLoad #animatedHeading span {
  animation: slideLeft 1.5s forwards;
}

@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(200px);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}





  .connect-button {
    display: inline-block;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: black;
    padding: 10px 20px;
    border: 2px solid black;
    background-color: white;
    text-align: center;
    text-decoration: none;
    box-shadow: 3px 3px black;
    cursor: pointer;
  }

  .connect-button:hover {
    background-color: #f0f0f0;
  }
  



  .connect-button:hover {
    transform: translate(2px, 2px);
    box-shadow: 1px 1px black;
  }











  #toggle span,
  #toggle span:after,
  #toggle span:before {
    width: 100%;
    height: 5px;
    background-color: #888;
    transition: all 0.3s;
    backface-visibility: hidden;
    border-radius: 2px;
  }
  
  #toggle:hover span {
    background-color: transparent;
  }
  
  #toggle:hover span:before {
    transform: rotate(45deg) translate(5px, 5px);
  }
  
  #toggle:hover span:after {
    transform: rotate(-45deg) translate(7px, -8px);
  }
  
  #toggle:hover + #menu {
    opacity: 1;
    visibility: visible;
  }
  
  /* Menu appearance */
  #menu {
    position: absolute;
    color: #999;
    width: 200px;
    padding: 10px;
    font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
    text-align: center;
    border-radius: 4px;
    background: white;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.05);
    opacity: 0;
    visibility: hidden;
    transition: opacity .4s;
    top: 50px; 
    right: 10px;
  }
  
  #menu:after {
    position: absolute;
    top: -15px;
    left: 95px;
    content: "";
    display: block;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 20px solid white;
  }
  
  ul, li, li a {
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
  }
  
  li a {
    padding: 5px;
    color: #888;
    text-decoration: none;
    transition: all .2s;
  }
  
  li a:hover,
  li a:focus {
    background: #1ABC9C;
    color: #fff;
  }
  
  /* Styling for landing section */
  .landing {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  background: linear-gradient(to left, #fbffee, #fff8e1);
    background-size: 400% 400%;
    animation: moveGradient 6s ease infinite;
  }
  
  @keyframes moveGradient {
    0% { background-position: 0% 0%; }
    25% { background-position: 100% 0%; }
    50% { background-position: 100% 100%; }
    75% { background-position: 0% 100%; }
    100% { background-position: 0% 0%; }
  }
  
  #cursor {
    font-size: 2rem;
    color: #000000;
    display: inline-block;
    width: 10px;
    margin-left: 5px;
  }
  
  #typed-text {
    font-size: 1.3rem;
    font-weight: normal;
    font-family: 'Courier New', Courier, monospace;
    color: #333;
    display: inline-block;
    letter-spacing: 1px;
    white-space: nowrap;
  }
  
  .hs {
    margin-top: 200px;
    text-align: center;
  }
  


    .full-height {
      height: 100vh;
    }

  
    .bg-dark {
      background-color: #343a40;
      color: white;
    }

    .center-content {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%; 
    }


/* button */
/* button */
/* button */







.EcoConnect {

  
  background-image: url(./assets/image\ 86.png);
  position: relative;
  background-size: cover;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.092);
  padding: 15px;
  margin-bottom: 30px;
  overflow: hidden; 
}



/* 
@media (min-width: 321px) and (max-width: 370px) {
  .EcoConnect {
    height: 1800px; 
  }
}

@media (min-width: 371px) and (max-width: 480px) {
  .EcoConnect {
    height: 1100px; 
  }
}



@media (max-width: 480px) {
  .EcoConnect {
    height: 1004px; 
    overflow: hidden;
  }
}

@media (min-width: 400px) and (max-width: 452px) {
  .EcoConnect {
    height: 990px; 
  }
}
@media (min-width: 453px) and (max-width: 480px) {
  .EcoConnect {
    height: 944px; 
  }
}
@media (min-width: 481px) and (max-width: 558px) {
  .EcoConnect {
    height: 896px; 
  }
}
@media (min-width: 559px) and (max-width: 650px) {
  .EcoConnect {
    height: 855px  ; 
  }
}

@media (min-width: 651px) and (max-width: 768px) {
  .EcoConnect {
    margin: 0 !important;
    height: 820px; 
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .EcoConnect {
    height: 780px; 
  }
}

@media (min-width: 992px)  and (max-width: 1024px) {
  .EcoConnect {
height: 440px; 
  }
} */





/* Large Desktop view (1025px and up) */
/* @media (min-width: 1025px) {
  .EcoConnect {
    height: 400px !important;
  }
} */
/* 
.EcoConnect::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0; 
  transition: opacity 2s ease-in-out; 
  z-index: -1;  
}
 */

.EcoLogo p {
  margin-top: 12px;
  margin-left: 14px;
}









/* 


@media (max-width: 992px) {

  .EcoConnect .Eco, 
  .EcoConnect .EcoConnectMock {
    padding: 15px;
  }

  .EcoConnect .EcoLogo img {
    max-width: 100%;
    height: auto;
  }
}

@media (max-width: 576px) {
  .EcoConnect {
    padding: 10px;
  }

  .EcoConnect .Eco, 
  .EcoConnect .EcoConnectMock {
    padding: 10px;
  }

  .EcoConnect .EcoLogo img {
    max-width: 100%;
    height: auto;
  }

  .EcoConnectMock video {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 320px) {
  .EcoConnect {
    padding: 8px; 
  }

  .EcoConnect .Eco, 
  .EcoConnect .EcoConnectMock {
    padding: 8px;
  }

  .EcoConnect .EcoLogo img {
    max-width: 90%; 
    height: auto;
  }

  .EcoConnectMock video {
    width: 100%; 
    height: auto;
  }
}

@media (max-width: 375px) {
  .EcoConnect {
    padding: 9px; 
  }

  .EcoConnect .Eco, 
  .EcoConnect .EcoConnectMock {
    padding: 9px;
  }

  .EcoConnect .EcoLogo img {
    max-width: 95%;
    height: auto;
  }

  .EcoConnectMock video {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 425px) {
  .EcoConnect {
    padding: 10px;
  }

  .EcoConnect .Eco, 
  .EcoConnect .EcoConnectMock {
    padding: 10px;
  }

  .EcoConnect .EcoLogo img {
    max-width: 100%;
    height: auto;
  }

  .EcoConnectMock video {
    width: 100%;
    height: auto;
  }
}
 */




















.row {
  margin: 0;
  padding: 0; 
}

.EcoConnect {
  position: relative;
  perspective: 1000px; /* Adds depth to the container */
}

.EcoConnect .col-12 {
  transition: transform 0.1s ease-out; /* Smooth transition */
}

.EcoConnect .Eco, 
.EcoConnect .EcoConnectMock {
  transition: transform 0.1s ease-out;
}

.EcoConnect .EcoConnectMock video {
  transition: transform 0.1s ease-out;
  border-radius: 32px;
  opacity: 0.7;
  width: 220px;
}

/* Optional: Adding shadow for more depth */
.EcoConnect:hover .Eco, 
.EcoConnect:hover .EcoConnectMock {
  box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.2);
}


.Eco p{
  color: white;
}


.EcoLogo{
  display: flex;
  justify-content: start;
  align-items: center;
}

.EcoLogo img{
  width: 40px;
  height: auto;
}

.EcoLogo span{
  color: #a6c853 !important;
}

.EcoConnectMock{
  display: flex;
  align-items: center;
  margin: 20px 0px;
  margin-top: 20px !important;
  justify-content: center;
}

.KinViewMock{
  display: flex;
  align-items: center;
  margin: 20px 0px;
  margin-top: 20px !important;
  justify-content: center;
}

.BikeManiaMock{
  display: flex;
  align-items: center;
  margin: 20px 0px !important;
  margin-top: 20px !important;
  justify-content: center;
}







.KinView {
  position: relative;
  perspective: 1000px; /* Adds depth to the container */
}

.KinView .col-12 {
  transition: transform 0.1s ease-out; /* Smooth transition */
}

.KinView .KinViewLogo, 
.KinView .KinViewMock {
  transition: transform 0.1s ease-out;
}

.KinView .KinViewMock video {
  transition: transform 0.1s ease-out;
  border-radius: 32px;
  opacity: 0.7;
  width: 220px;
}

/* Optional: Adding shadow for more depth */
.KinView:hover .KinViewLogo, 
.KinView:hover .KinViewMock {
  box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.2);
}


.KinView{
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.092); 
  position: relative; 
  background: linear-gradient(to left, #fbffee, #fff8e1);
  border-radius: 10px; 
  background-position: top !important;
  background-image: url(./assets/image\ 77.png);
  background-position: left;
  background-size: cover;

}

.KinViewMock{
  opacity: 0.5;
  display: flex;
justify-content: center;
align-items: center !important;
margin-bottom: 60px;
}

.KinViewMock video {
  border-radius: 32px;
}

.KinViewLogoName img {
  height: 50px;
  width: auto;
}

.KinViewLogoName {
  display: flex;
  align-items: center;
}

.KinViewLogoName p{
  margin-top: 10px;
margin-left: 20px;
}

.KinViewLogoName span {
  color: #1eadff;
}

.KinViewLogo {
  color: white;
}



.BikeRevive {
  position: relative;
  perspective: 1000px; /* Adds depth to the container */
}

.BikeRevive .col-12 {
  transition: transform 0.1s ease-out; /* Smooth transition */
}

.BikeRevive .BikeReviveContent, 
.BikeRevive .BikeManiaMock {
  transition: transform 0.1s ease-out;
}

.BikeRevive .BikeManiaMock video {
  transition: transform 0.1s ease-out;
  border-radius: 32px;
  opacity: 0.7;
  width: 220px;
}

/* Optional: Adding shadow for more depth */
.BikeRevive:hover .BikeReviveContent, 
.BikeRevive:hover .BikeManiaMock {
  box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.2);
}


.BikeRevive {
  height: auto;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.092); 
    position: relative; 
    overflow: hidden;
    border-radius: 10px; 
    background-image: url(./assets/BikeManiaBgimg.png);
    background-position: center;
    background-size: cover;
    background-position: top;
}




.BikeReviveLogo img  {
  height: 60px;
  
}

.BikeReviveLogoName{
  display: flex;
}

.Bikerevive {
color: white;
}

.BikeReviveLogoName p{
  margin-top: 12px;
  margin-left: 10px;
}




.KinViewMock  video {
  width: 220px;
    margin-top: 20px;
  
  }

.BikeReviveLogoName p {
  color: white;
}

.BikeReviveLogoName span {
  color: #FB5F58;
}

.BikeReviveContent p {
  color: white;
  
}










.ProzenPharmaceuticals{
   box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.092); 
    position: relative; 
    background: linear-gradient(to left, rgba(230, 240, 240, 0.5), rgba(240, 239, 230, 0.5));
    border-radius: 10px; 
    background-image: url(./assets);
    background-position: center;
    background-size: cover;

}










.read {
    display: inline-block;
    background-color: #007bff; 
    color: #fff;
    font-size: 16px; 
    border-radius: 5px; 
    padding: 10px 20px;
    text-align: center;
    cursor: pointer; 
    box-shadow: 0 4px #0069d9; 
    transition: all 0.3s ease; 
    text-decoration: none; 
}

.read:hover {
    background-color: #0056b3;
    box-shadow: 0 6px #004085; 
    transform: translateY(-2px); 
}

.read:active {
    background-color: #004085; 
    box-shadow: 0 2px #003366;
    transform: translateY(2px); 
}

.read span {
    font-weight: 400;
    font-size: inherit;
}

@media (max-width: 768px) {
    .read {
        font-size: 14px; 
        padding: 8px 16px; 
    }
}


#pp {
    width: 80px;
    height: auto;
}

.ProzenPharmaceuticals{
background-image: url(./assets/image\ 63.png);
}







 .selfimg img {
    width: 480px;
    height: auto;
    object-fit: cover;
    border-radius: 30px;
 }


 

/* .selfinfo {
  height:550px ;
  width: auto;
} */



.contact{
  box-shadow: 0 0 15px 10px #00000021;
  margin-bottom: 40px;
}

.mail1{
  display: flex;
  flex-direction: column;
}









/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}



.group {
  position: relative;
  margin-bottom: 30px;
}

.group input[type="text"] {
  width: 100%;
  padding: 10px 0;
  border: none;
  border-bottom: 2px solid #ccc;
  background: transparent;
  color: #333;
  font-size: 16px;
  transition: border-color 0.3s;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 10px;
  border: 2px solid #ccc;
  background: transparent;
  color: #333;
  font-size: 16px;
  resize: none;
  transition: border-color 0.3s;
}

textarea::placeholder,
input::placeholder {
  color: #999;
}

/* Highlight and bottom bar effect */
.group .highlight,
.group .bar {
  position: absolute;
  width: 100%;
  height: 2px;
  background: #666;
  bottom: 0;
  left: 0;
  transition: width 0.3s;
}

.group label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  color: #666;
  font-size: 16px;
  transition: all 0.3s;
  pointer-events: none;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: #007BFF;
}

input:focus + .highlight,
textarea:focus + .highlight {
  width: 100%;
}

input:focus + .highlight + .bar,
textarea:focus + .highlight + .bar {
  width: 100%;
}

input:focus + .highlight + .bar + label,
textarea:focus + .highlight + .bar + label {
  font-size: 12px;
  color: #007BFF;
  top: -10px;
}

input:not(:focus):valid + .highlight + .bar + label,
textarea:not(:focus):valid + .highlight + .bar + label {
  font-size: 12px;
  color: #007BFF;
  top: -10px;
}

textarea:focus {
  border-color: #007BFF;
}

textarea:focus + .highlight,
input:focus + .highlight {
  width: 100%;
}








.SocialConnect {
  display: flex;
  gap: 16px;
}

.SocialConnect svg {
  padding: 4px;
  fill: rgba(0, 0, 0, 0.7);
  transition: all 0.3s ease;
  filter: brightness(1);
}

.SocialConnect svg:hover {
  fill: rgba(0, 123, 255, 1);
  filter: brightness(1.2);
  box-shadow: 0 0 8px 3px rgba(0, 123, 255, 0.7);
}


/* GitHub Icon */
.SocialConnect .bi-github:hover {
  fill: rgb(172, 67, 136);
  box-shadow: 0 0 10px 4px rgb(172, 67, 136); 
}

/* Behance Icon */
.SocialConnect .bi-behance:hover {
  fill: rgba(23, 105, 255, 1); 
  box-shadow: 0 0 10px 4px rgba(23, 105, 255, 0.7); 
}

/* LinkedIn Icon */
.SocialConnect .bi-linkedin:hover {
  mix-blend-mode: color-burn;

  fill: rgba(0, 119, 181, 1); 
  box-shadow: 0 0 10px 4px rgba(0, 119, 181, 0.7); 
}

/* Email Icon */
.SocialConnect .bi-envelope-fill:hover {
  
  fill: rgba(212, 70, 56, 1);
  box-shadow: 0 0 10px 4px rgba(212, 70, 56, 0.7); 
}




.SocialConnect a{
  text-decoration: none;
}


#designation {
  background-image: linear-gradient(45deg, #ff6a00, #856a00);
  -webkit-background-clip: text; 
  color: transparent; 
  display: inline-block;
}


.button-29 {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: center !important;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-29:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-29:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}






/* CV Button Styling */
.cv-button {
  position: fixed;
  bottom: 20px;   
  right: 20px;    
  width: 64px;  
  height: 64px;   
  font-size: 20px; 
  font-weight: bold;
  color: #4d437d;
  background-color: #cdcdfa;
  border: 3px solid #dde4fa;
  border-radius: 50%;
  /* opacity: 0.9; */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: all 0.3s ease;
}

/* Hover Effect */
.cv-button:hover,
.cv-button:focus {
  opacity: 1; 
  box-shadow: 0 0 20px 2px rgba(255, 255, 255, 1); 
  transform: scale(1.1);
}

.cv-button:active {
  box-shadow: 0 0 30px 5px rgba(255, 255, 255, 1); 
  transform: scale(1.2);
}

/* Responsive Styling */
@media screen and (max-width: 600px) {
  .cv-button {
    width: 54px;  
    height: 54px;  
    font-size: 16px; 
  }
}

@media screen and (max-width: 400px) {
  .cv-button {
    width: 54px; 
    height: 54px;  
    font-size: 14px; 
  }
}


.skills-set{
  width: 100%;  
}
.skills-container {
  margin:10px 100px;
  overflow: hidden;
}
@media screen and (max-width: 600px) {
  .skills-container {
    margin:10px 20px;
  }
  
}



.skills {
  display: flex;
  flex-wrap: nowrap;
  animation: scrollSkills 25s linear infinite; 
}

.skills p {
  padding: 10px;
  border: 1px solid #666;
  border-radius: 24px;
  margin: 0 10px;
  white-space: nowrap; 
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

@keyframes scrollSkills {
  0% {
    transform: translateX(0); 
  }
  100% {
    transform: translateX(-100%); 
  }
}

.skills p:hover {
  background-color: #3498db;
  color: #fff; 
  border: none;
}


@media (min-width: 1024px) {
  .skills-container {
    margin: 10px 100px; 
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .skills-container {
    margin: 10px 50px;  
  }
}

@media (max-width: 767px) {
  .skills-container {
    margin: 10px 20px; 
  }
}

@media (max-width: 480px) {
  .skills-container {
    margin: 10px 10px;  
  }
}




.tools-set{
  width: 100%;  
}

.tools-container {
  margin:10px 100px;
  overflow: hidden; 
}

.tools {
  display: flex;
  flex-wrap: nowrap; 
  animation: scrolltools 110s linear infinite; 
}


.tools p {
  padding: 10px;
  border: 1px solid #666;
  border-radius: 24px;
  margin: 0 10px;
  white-space: nowrap; 
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;

}



@keyframes scrolltools {
  0% {
    transform: translateX(-250%); 
  }
  100% {
    transform: translateX(100%); 
    
  }
}

.tools p:hover {
  background-color: #90cf32; 
  color: #fff; 
  border: none;
}



@media (min-width: 1024px) {
  .tools-container {
    margin: 10px 100px; 
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .tools-container {
    margin: 10px 50px;  
  }
}

@media (max-width: 767px) {
  .tools-container {
    margin: 10px 20px; 
  }
}

@media (max-width: 480px) {
  .tools-container {
    margin: 10px 10px;  
  }
}




body ::selection{
  background-color: #88ad35;
  color: white;
}



